* {
  margin: 0;
  padding: 0;
}

.main-container {
  width: 630px;
  margin: 0 auto;
  color: #000;
  background: #fff;
  padding: 7px;
  border: 8px solid #000;
}

.border-container {
  border: 2px dashed #000;
}

h1 {
  font-family: "Rye", "Georgia", serif;
  text-align: center;
  margin: 60px 60px 0 60px;
  font-size: 60px;
  text-transform: uppercase;
  color: #000;
}

.divider {
  height: 100px;
  display: block;
  width: 80%;
  margin: 0 auto;
}

ul {
  list-style-type: none;
  margin: 0 0 40px 130px;
  width: 593px;
}

ul li {
  margin: 12px 0;
}

ul li span.name {
  display: inline-block;
  font-size: 25px;
  text-transform: uppercase;
  font-family: "Times New Roman", sans-serif;
  margin-right: 20px;
}

ul li span.description {
  font-size: 15px;
  display: block;
  font-style: italic;
  text-transform: none;
  color: #6f7273;
  margin: 12px 0;
}

ul li span.price {
  font-family: "Helvetica", "Arial", sans-serif;
  font-size: 20px;
}
