<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title></title>
  <link rel="stylesheet" href="">
</head>
<body>
<p> Hello <%= @name.capitalize %>!
</body>
</html>

<!-- Part 1
You should use Sinatra and a Browser to interact with the following programs.
Example:
Request: /name/john
Response: Hello John!
Request: /name/bryan
Response: Hello Bryan!
Request: /name/heidi
Response: Hello Heidi!
Request: /name/tims
Response: Hello Tims!
Request: /name/jared
Response: Hello Jared!
-->
