body {
  background: #E9FFFE;
}

h1 {
  font-family: Georgia, Times, serif;
  margin: 20px auto;
  text-align: center;
  color: #957BBB;
  font-size: 49px;
  line-height: 100px;
}

.cat {
  background: url(../img/cat.png) 0 0 #E9FFFE;
  position: absolute;
  bottom: 0;
  height: 333px;
  width: 500px;
}

.cat-1 {
  left: 0px;
}

.cat-2 {
  left: 433px;
}

.cat-3 {
  left: 840px;
}

p {
  width: 800px;
  font-size: 22px;
  margin: 0 auto;
  font-family: Georgia, sans-serif;
  padding: 12px;
  color: #f00;
}
