* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


.main{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 90vh;
}

#time{
 font-size: 8vh;


}


