* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


.main{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 90vh;
}

#time{
 /* position: relative; */
 font-size: 8vh;
 display: inline-block;
 margin:0 auto;
 text-align: center;
 font-family: 'Indie Flower', cursive;
 font-size: 91px;
 /* width:100px; */


}

#quote{
  position: relative;
  font-family: 'Indie Flower', cursive;
  font-size: 18px;
  text-align: center;
  top: -50px;

}


