.wrapper{
  background: #fff;
  max-width: 80%;
  margin: 0 auto;
  padding: 20px;
  height: 120px;
  border-bottom: solid;
}

/* .wrapper:after{
  content:  "";
  display: block;
  clear: both;
} */

li {
  display: inline-block;
  float: right;
  margin: 50px;
}


