.wrapper{
  background: #fff;
  max-width: 100%;
  margin: 0 auto;
  padding: 20px;
}

/* .wrapper:after{
  content:  "";
  display: block;
  clear: both;
} */

li {
  display: inline-block;
  float: right;
  margin: 50px;
}
