* {
  margin: 0;
  padding: 0;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

body {
  font-family: "Helvetica", "Arial", sans;
}

header {
  background: #000;
  width: 100%;
}

header h1 {
  font-size: 40px;
  color: #fff;
  text-transform: uppercase;
  margin: 30px 0;
}

header .header-content {
  width: 980px;
  margin: 0 auto;
}

header h1 span {
  color: #51d2ff;
}

header .top-nav {
  width: 980px;
  margin: 0 auto;
}

header .top-nav ul {
  list-style-type: none;
  padding: 12px 0;
}

header .top-nav ul li {
  display: inline-block;
  margin-right: 20px;
}

header .top-nav ul li a {
  color: #fff;
  text-decoration: none;
}

header .bot-nav {
  background: #fdf76b;
  padding: 20px 0;
}

header .bot-nav ul {
  width: 980px;
  margin: 0 auto;
  list-style-type: none;
  padding: 12px 0;
}

header .bot-nav ul li {
  display: inline-block;
  padding: 0 12px;
}

header .bot-nav ul li:first-child {
  padding-left: 0px;
}

header .bot-nav ul li a {
  color: #000;
  text-decoration: none;
}

.main-container {
  width: 980px;
  margin: 40px auto;
}

.main-content {
  float: left;
  width: 700px;
}

.main-content .entry {
  padding-right: 30px;
  margin-bottom: 40px;
}

.main-content .entry date {
  display: block;
  margin: 12px 0;
  color: #777;
}

.main-content .entry img {
  width: 300px;
  float: left;
  margin: 0 20px 20px 0;
}

.sidebar {
  float: left;
  width: 280px;
  background: #e8e8e8;
  font-size: 13px;
}

.sidebar-entry {
  margin: 20px;
  background: #fff;
  padding: 20px 12px;
  border-bottom: 1px solid #c7c7c7;
}

.sidebar-entry img {
  width: 100px;
  float: left;
  margin: 2px 12px 0 0;
}

.sidebar-entry h2 {
  font-size: 18px;
  margin-bottom: 12px;
}

footer {
  width: 100%;
  padding: 40px 0;
  background: #000;
}

footer .footer-content {
  font-size: .9em;
  color: #fff;
  width: 980px;
  margin: 0 auto;
}
