.main-div{
width: 1000px;

text-align: center;



}

.first-div{
  margin: 100px;

  height: 460px;
  border: 1px solid;
  width: 314px;

  display: inline-block;
  /* float: left; */



}

.second-div{
  height: 500px;
  width: 500px;
  border: 1px solid;
  display: inline-block;
  float: right;
  position: absolute;


}

img{
  position: relative;
  max-height: 100%;
  max-width: 100%;
 /*  width: 314px;
  height: 463px; */
}
