body{
  margin: 0;
}
nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 15vh;
  background-color: green;
  font-family: helvetica,arial, sans-serif;
  font-weight: normal;
  border-bottom: 5px solid;



}

.logo{
  letter-spacing: 5px;

}

.nav-links{
  display: flex;
  justify-content: space-around;
  width: 60%;

}

.nav-links li{
  list-style: none;
}

.nav-links a{
  text-decoration: none;
  letter-spacing: 3px;
}

/* li{
  display: inline-block;
  text-align: center;
} */
