body{
  width: 100%;
  background-image: url('../img/rainbow-bg.jpg');



}

header h1 {
  color: white;
}
header {
  background-color: black;
  width: 70%;
  height: 100%;
  padding: 60px 0;
  text-align: center;
  margin: 0 auto;
  position: relative;
  border-bottom-color: red;

}

#main{
  width: 200px;
  height: 200px;
  background-color: white;
  margin: 0 auto;
}





.nav {
  display: inline;

}

nav {
  margin: 0 auto;
}


