body{
  width: 100%;
  background-image: url('../img/rainbow-bg.jpg')



}


/* header {
  background-color: black;
  width: 70%;
  height: 100%;
  padding: 60px 0;
  text-align: center;
  margin: 0 auto;
  position: relative;

}





.nav {
  display: inline;

}
 */
/* nav {
  margin: 0 auto;
}
 */

