body {
  position: relative;
  margin: 0;
}

header {
  height: 500px;
  width: 100%;
  border: solid;
  background-color: pink;
  position: absolute;
  top: 0px;

}

.card {
  height: 261px;
  width: 730px;
  border: solid;
  position: relative;
  top: 350px;



}


