*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}



/* body {
  background-color: black;
  margin: 0;
} */

nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 15vh;
  background-color: #36B592;
  font-family: 'Roboto Mono', monospace;
  font-weight: normal;

}

h4{
  color: black;
}

.logo{
  color: rgb(226, 226, 226);
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 20px;
}

.nav-links{
  display: flex;
  justify-content: space-around;
  width: 60%;
}

.nav-links li{
  list-style: none;
}

.nav-links a{
  color: #FFFFFF;
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 16px;

}

.burger{
  display: none;
  cursor: pointer;
}

.burger div{
  width: 25px;
  height: 3px;
  background-color: rgb(226, 226, 226);
  margin: 5px;
  transition: all 0.3s ease;
}

@media screen and (max-width:1024px){
  .nav-links{
    width: 60%;
  }
}

@media screen and (max-width:768px){
  body{
    overflow-x: hidden;
  }
  .nav-links{
    position: absolute;
    right: 0px;
    height: 92vh;
    top: 15vh;
    background-color: rgb(226, 226, 226);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;

  }
  .nav-links li{
    opacity: 0;
  }
  .burger{
    display: block;

  }
}

.nav-active{
  transform: translateX(0%);

}

@keyframes navLinkFade{
  from{
    opacity: 0;
    transform: translateX(50px);
  }
  to{
    opacity: 1;
    transform: translateX(0px);
  }
}

.toggle .line1{
  transform: rotate(-45deg) translate(-5px,6px);

}
.toggle .line2{
  opacity: 0;

}
.toggle .line3{
    transform: rotate(45deg) translate(-5px,-6px);


}




/* .nav-bar-div {
  background-color: white;
  height: 80px;
  background: #2098D1
} */

/* ul {
  margin: 0px;
} */

/* li {
  display: inline-block;
  float: right;
  padding: 20px;
  text-align: left;
  width: 100px;
  font-family: 'IBM Plex Mono', monospace;
  text-decoration: none;
  color: #0f0;
}
 */
/* a {
  color: #0f0;
  text-decoration: none;

} */

/* .themed-grid-col {
  padding-top: 15px;
  padding-bottom:  15px;
  background-color: rgba(255, 192, 203, .30);
  border: 1px solid rgba(86, 61, 124, .2);
  display: block;

} */


/* .col-4 {
  flex:  0 0 33.33%;
  max-width:  33.33%;
  display:  block;
}
 */

#background-div{
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  display: block;
}

.pre-first-div{
  height: 200px;
  color: #333;
  border: 1px solid;
}

.first-div {
  padding-top: 1em;
  padding-right: 2em;
  padding-bottom:  1em;
  padding-left: 2em;
  margin-top: 20px;
  margin-right: 200px;
  margin-bottom: 4em;
  margin-left: 200px;
  box-shadow: inset 10px 10px 2px 4px #FFFF;
  background-color: white;
  border: 1px solid #EBEBEB;
  background: #FAFAFA;
  display: block;
 /*  height: 400px;

  width: 100%; */
  /* background-color: #2098D1; */



}

.portfolio {
  padding: 15px;
  margin-bottom: 30px;
  background-color: rgba(0, 123,255, .15);
  border: 1px solid rgba(0, 123, 255, .2);
  height: 250px;
  width: 250px;
  display: inline-block;

}

#pokemon {
  background-image: url("../images/pokeball.jpg");
  background-size: 130% 100%;


}





/* #logo {
  height: 20px;
  width: 20px;
  float: left;
  background-image: url('../images/wolficon.png');
}
  */

#logoimg {
  height: 40;
  margin: 0;

}

.logo-container {
  width: 50px;

}
