@import "https://fonts.googleapis.com/css?family=Raleway";

body {
  background-color: #faebd7;
}

nav {
  padding: 0;
  margin: 0;
}

nav ul {
  display: table;
  padding: 0;
  margin: 0 auto;
}

nav ul li {
  margin: 0;
  display: inline;
  padding: 5px;
}

nav ul li a {
  margin: 0;
  padding: 0;
  font-family: Raleway;
  color: red;
}

nav ul li a:hover {
  color: green;
  cursor: pointer;
}

#home h1 {
  margin: 0 auto;
  padding: 20px;
  font-family: Raleway;
  text-align: center;
  color: blue;
  font-size: 70px;
}

#home h2 {
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  color: blue;
  font-family: Raleway;
  font-size: 52.5px;
}

#main_image {
  margin: 0;
  padding: 0;
  text-align: center;
}

#main_image img {
  margin: 0;
  padding: 0;
  max-width: 400px;
}

#about h2 {
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  color: blue;
  font-family: Raleway;
  font-size: 52.5px;
}

#about p {
  text-align: center;
  color: blue;
  font-size: 17.5px;
  font-family: Raleway;
  margin: 0;
  padding: 20px;
}

#about ul {
  margin: 0;
  padding: 0;
}

#about ul li {
  padding: 20px;
  list-style-type: none;
  color: blue;
  font-family: Raleway;
  font-size: 17.5px;
  text-align: center;
  margin: 0;
}

#portfolio {
  text-align: center;
  margin: 0;
  padding: 0;
}

#portfolio h2 {
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  color: blue;
  font-family: Raleway;
  font-size: 52.5px;
}

#portfolio img {
  max-width: 300px;
  margin: 0;
  padding: 0;
}

#contact {
  text-align: center;
  margin: 0;
  padding: 0;
}

#contact h2 {
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  color: blue;
  font-family: Raleway;
  font-size: 52.5px;
}

#contact p {
  font-family: Raleway;
  color: blue;
  font-size: 17.5px;
  margin: 0;
  padding: 20px;
}
