@import url(https://fonts.googleapis.com/css?family=Roboto);

* {
  font-family: Roboto;
}

body {
  background-image: url("img/philosophy_background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

h2 , .school, .quote{
  color: white;
  text-align: center;
  text-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

p {
  font-size: 20px;
}

input {
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

button {
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

img {
  max-height: 200px;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  display: block;
  text-align: center;
  margin: 0 auto;
}
