* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
  width: 500px;
  height: 500px;
  background: url('http://upload.wikimedia.org/wikipedia/commons/1/1a/Bachalpseeflowers.jpg');
  background-size: cover;
  background-repeat: no-repeat;

}


.main{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 90vh;
}

#time{
 /* position: relative; */
 font-size: 8vh;
 display: inline-block;
 margin:0 auto;
 text-align: center;
 font-family: 'Indie Flower', cursive;
 font-size: 91px;
 color: #ffff;
 /* width:100px; */
}

#firstName{
  color: #ffff;
}

#greeting{
  color: #ffff;
}

#focus{
  color: #ffff;
}

#quote{
  position: relative;
  font-family: 'Indie Flower', cursive;
  font-size: 18px;
  text-align: center;
  top: -50px;
  color: #ffff;

}

.showTodo{
  display: none;
  text-align: center;
}


